<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{>style}}
</head>

<body>
    {{!-- Login Code --}}

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Register Yourself</h3>
                            <div class="form-outline mb-2">
                                <input type="email" id="emailregister" class="form-control form-control-lg" />
                                <label class="form-label" for="emailregister">Email</label>
                            </div>
                            <div class="form-outline mb-2">
                                <input type="text" id="usernameregister" class="form-control form-control-lg" />
                                <label class="form-label" for="usernameregister">Username</label>
                            </div>
                            <div class="form-outline mb-2">
                                <input type="text" id="nameregister" class="form-control form-control-lg" />
                                <label class="form-label" for="nameregister">Name</label>
                            </div>
                            <div class="form-outline mb-2">
                                <input type="password" id="passwordregister" class="form-control form-control-lg" />
                                <label class="form-label" for="passwordregister">Password</label>
                            </div>

                            <div class="form-outline mb-2">
                                <button class="btn btn-primary btn" id="submitRegisterBTN" type="submit">Register</button>
                            </div>

                            <a href="/login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!-- Login Code End --}}
</body>
<script src="/js/register.js"></script>
</html>